<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvince.instagramviewer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mvince.instagramviewer.PhotosActivity"
            android:label="@string/popular_photos_caption"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mvince.instagramviewer.CommentsActivity"
            android:label="@string/comments_caption"
            android:parentActivityName="com.example.mvince.instagramviewer.PhotosActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mvince.instagramviewer.PhotosActivity" />
        </activity>
    </application>

</manifest>
